@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.section {
    padding: 6rem 0 5rem;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 1rem;
}

.rounded_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
}
